h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-weight: 2000;
}
body{
    background-color: burlywood;
}
#merah{
    color: red; 
}
#biru{
    color: blue;
}
.ul{
    text-decoration: underline;
}