div.static {
  position: static;
  border: 3px solid #73AD21;
}
div.relative {
  position: relative;
  right: 120px;
  border: 3px solid #F5D536;
}
div.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  border: 3px solid #1B659E;
}
div.relative2{
  position: relative;
  width: 400px;
  height: 200px;
  border: 3px solid #73AD21;
} 
div.absolute {
  position: absolute;
  top: 30px;
  right: 0;
  width: 200px;
  height: 100px;
  border: 3px solid #73AD21;
}
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #CAE8CA;
  border: 2px solid #4CAF50;
}